[submodule "third_party/Indy"]
	path = third_party/Indy
	url = https://github.com/norayr/Indy.git
	branch = spartan
[submodule "third_party/TaurusTLS"]
	path = third_party/TaurusTLS
	url = https://github.com/TaurusTLS-Developers/TaurusTLS.git
